.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vw;
}

.row h1 {
  text-align: center;
}

.bank {
  margin-bottom: 3vw;
}

.logoBacnk {
  width: 170px;
  height: 170px;
}

.banksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  margin-top: 1vw;
}

.contentBank {
  display: flex;
  justify-content: center;
}

.bank {
  margin-top: 10%;
}

@media only screen and (max-width: 600px) {
  .bank {
    margin-top: 15%;
  }

  .banksGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .logoBacnk {
    width: 100%;
    max-width: 140px;
    height: auto;
  }

  .row .title {
    color: #4061AC;
    text-transform: uppercase;
    font-size: 5vw;
    padding-bottom: 25px;
    text-align: center;
    font-weight: 300;
    padding-top: 0;
  }

  .title span {
    color: #44A7AE;
    text-transform: uppercase;
    font-size: 5vw;
  }

}