.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.arraymd {
  display: flex;
  justify-content: center;
  gap: 5vw
}

.title {
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-align: center;
}

.toolsCard {
  width: 200px;
  background-color: #FFF;
  border-radius: 5px;
  transition: transform .8s;
}

.toolsCard:hover {
  transform: scale(1.1);
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
  gap: 5vw;
}

.toolDescription {
  color: #616161;
  font-size: 0.7vw;
}

.toolLabel {
  text-align: center;
  margin-top: 1.5vw;
  margin-bottom: 0.5vw;
  color: #1C232B;
  font-weight: 600;
  font-size: 1.2vw;
}

.toolDescription {
  text-align: center;
}

.helpTool {
  margin-top: 10px;
  margin-bottom: 100px;
}

.toolsCard {
  cursor: pointer;
}

.toolsCard:hover {
  transition: background-color 0.5s;
}

.cardIcon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.link {
  text-decoration: none;
  color: #44A7AE
}

.contentTools {
  display: inline;
}

.toolsBtn {
  display: flex;
  justify-content: center;
}

.cardDescription {
  height: 7vw;
}

.faSmall {
  font-size: 3vw;
}

@media only screen and (max-width: 600px) {
  .helpTool {
    margin-top: 5vw;
    margin-bottom: 100px;
  }

  .title {
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
  }

  .title span {
    color: #44A7AE;
    text-transform: uppercase;
    font-size: 5vw;
  }

  .tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .toolLabel {
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 0.5vw;
    color: #1C232B;
    font-weight: 600;
    font-size: 5vw;
  }

  .toolsCard {
    width: 150px;
    font-weight: 500;
    background-color: #FFF;
  }

  .cardDescription {
    display: block;
    height: 20vw;
  }

  .contentTools {
    display: flex;
    justify-content: center;
  }

  .toolDescription {
    color: #616161;
    font-size: 2.3vw;
  }

  .arraymd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .faSmall {
    font-size: 10vw;
  }

}