.products {
  background-color: #ECEFF1;
  padding-bottom: 5%;
}

.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-top: 4vw;
}

.row h1 {
  text-align: center;
  padding-bottom: 5vw;
}

.title {
  color: #4061AC;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 25px;
}

.title span {
  color: #44A7AE;
  text-transform: uppercase;
  font-size: 3vw;
}

.image {
  width: 100%;
  height: 40%;
}

.imgBg {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img {
  background: #fff;
}

.descriptionCard {
  background-color: #FFF;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 150px;
}

.contentDescription {
  margin-top: 2vw;
}

.titleCard p {
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.btnActions {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.rowGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1vw
}

@media only screen and (max-width: 600px) {
  .products {
    display: block;
    padding-top: 5%;
  }

  .imgBg {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .row .title {
    color: #4061AC;
    text-transform: uppercase;
    font-size: 5vw;
    padding-bottom: 25px;
    text-align: center;
    font-weight: 300;
    padding-top: 0;
  }

  .title span {
    color: #44A7AE;
    text-transform: uppercase;
    font-size: 5vw;
  }

  .rowGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5vw
  }

  .card {
    width: 250px;
    height: 100%;
  }

  .descriptionCard {
    background-color: #FFF;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 140px;
  }

  .btnActions {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5vw;
  }

  .main {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {}