.mainTitle {
  color: #FFF;
  font-size: 40px;
  text-shadow: 0.5px 0.5px 1px #000;
  line-height: 60px;
}

.mainSubtitle {
  width: 70%;
  background-color: #000;
  padding: 25px;
  opacity: 0.5;
  color: #FAFAFA;
  font-size: 20px;
  text-shadow: 0.5px 0.5px 1px #000;
  line-height: 36px;
}

.titleColorPrimary {
  color: #44A7AD;
  font-size: 55px;
}

.titleColorSecondary {
  color: #FFF;
  font-size: 55px;
}

.mainDescription {
  margin-top: 7%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

.products {
  background-color: #EEEE;
}

.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.row .title {
  color: #4061AC;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 25px;
}

.title span {
  color: #44A7AE;
  text-transform: uppercase;
  font-size: 30px;
}

.image {
  width: 100%;
  height: 50%;
}

.itemProducts {
  width: 320px;
  height: 318px;
  cursor: pointer;
  margin-bottom: 30%;
}

.itemTitle p {
  text-transform: uppercase;
  font-weight: 700;
  text-transform: uppercase;
  color: #4061AC;
  font-family: 'Roboto', sans-serif;
}

.rowGridRequirements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 120px;
}

.contentRequirements {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
  padding-left: 50px;
  padding-right: 50px;
}

.itemRequirements {
  margin-bottom: 20px;
  list-style: none;
  flex-direction: row;
  display: flex;
}

.titleRequirements {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.requirementsIcon {
  margin: 10px;
}

.titleRequirements p {
  color: #48A8AD;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-family: 'Roboto' sans-serif;
  text-transform: uppercase;
}

.arrowIcon {
  margin-left: 10px;
  margin-right: 10px;
}

.descriptionRequirements {
  padding-left: 10px;
  padding-right: 10px;
}

.descriptionRequirements ul {
  margin: 0;
  padding: 0;
}

.rowGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 10px;
}

.description {
  position: absolute;
  margin-top: -99.99%;
  width: 320px;
  height: 318px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description p {
  color: #fff;
  padding: 5%;
  line-height: 30px;
}

.itemProducts:hover .description {
  position: relative;
  visibility: visible;
  background-color: #000;
  opacity: 0.5;
  transition: background-color 0.5s;
}

.itemProducts:hover .itemTitle p {
  color: #44A7AE;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.5s;
}

.toolsCard {
  width: 200px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
  transition: transform .2s;
}

.toolsCard:hover {
  transform: scale(1.2);
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.toolLabel {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.toolsCard {
  cursor: pointer;
}

.toolsCard:hover {
  transition: background-color 0.5s;
}

.helpTool {
  margin-bottom: 100px;
}

.cardIcon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bank {
  margin-bottom: 10%;
}

.logoBacnk {
  width: 170px;
  height: 170px;
}

.rowRight {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.background {
  position: absolute;
  width: 100%;
  height: 94%;
  background-repeat: no-repeat;
  z-index: -1;
  background-color: #000;
  opacity: 0.5;
}

.imgBank:hover {
  cursor: pointer;
}

.input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #84CBC9;
}

.input[type=text]:focus {
  border: 1px solid #4287AB;
}

.rowForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formReason {
  display: flex;
  flex-direction: column;
}

.contentContacts {
  display: flex;
  flex-direction: row;
}

.rowBtnContacts {
  width: 100%;
}

.btnContacts {
  width: 100%;
}

.form {
  width: 100%;
}


.columnDescription {
  width: 60%;
}

.link {
  text-decoration: none;
  color: #44A7AE
}

@media only screen and (max-width: 600px) {
  .requirements {
    display: none;
  }

  .products {
    display: none;
  }

  .main {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .requirements {
    display: none;
  }
}