.main {
  margin-bottom: 170px;
}

.contentSwiper {
  background-color: #D6E7F4;
  border-bottom-right-radius: 375px 130px;
  border-bottom-left-radius: 375px 130px;
}

.title {
  color: #000;
  font-size: 3.5vw;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding-bottom: 2vw;
}

.content {
  width: 50%;
}

.mainSubtitle {
  line-height: 36px;
  margin-bottom: 7vw;
  text-align: center;
  font-weight: 400;
}

.mainDescription {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .title {
    color: #000;
    font-size: 5vw;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 300;
  }

  .mainSubtitle {
    color: #4061AC;
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 5vw;
    margin-bottom: 8vw;
  }

  .mainDescription {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .swiper {
    z-index: -9;
  }

  .contentSwiper {
    background-color: #D6E7F4;
    border-bottom-right-radius: 375px 130px;
    border-bottom-left-radius: 375px 130px;
  }
}