.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav {
  margin-top: 25px;
  display: grid;
  grid-template-areas: "logo social simulator"
    " .  nav nav";
  grid-template-columns: 2fr 2fr 150px;
  margin-left: 5%;
  margin-right: 5%;
}

.floatNav {
  margin-top: 25px;
  height: auto;
  display: grid;
  grid-template-areas: "logo nav social";
  grid-template-columns: 150px auto 150px;
  margin-left: 5%;
  margin-right: 5%;
}

.social {
  grid-area: social;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social ul {
  display: flex;
}

.logo {
  grid-area: logo;
  margin-left: 10%;
}

.floatLogo {
  grid-area: logo;
}

.menu {
  grid-area: nav;
  display: flex;
  justify-content: right;
}

.floatMenu {
  grid-area: nav;
  display: flex;
  justify-content: center;
}

.simulator {
  grid-area: simulator;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 2.5vw;
  padding-right: 0;
}

.navigation a {
  text-decoration: none;
  color: #1C232B;
  font-size: 1.2vw;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation a:hover {
  color: #4187A9;
  cursor: pointer;
  font-weight: 600;
}

.btnSimulator {
  background-color: #4288AB;
  color: #ffff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
}

.iconSocial {
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
}

.btnSimulator:hover {
  background-color: #43A7AE;
}

.logoMenu {
  width: 100%;
  max-width: 17vw;
  height: auto;
}

.floatLogoMenu {
  width: 100%;
  max-width: 8vw;
  height: auto;
}

.navigation li {
  display: flex;
  align-items: center;
}

.contenSimulator {
  display: flex;
  align-items: center;
}

.menuBars {
  display: none;
}

.menuMobile {
  display: none;
}

.headerScroll {
  position: fixed;
  margin-top: -206px;
  background-color: #FFF;
  z-index: 999;
  animation-delay: 3.5s;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hr {
  width: 100%;
  height: 0.1vw;
  background-color: #9DB3D5;
  margin-bottom: -9px;
  opacity: 0.5;
  margin-top: 1vw;
}



@media only screen and (max-width: 600px) {
  .header {
    z-index: 99999;
    background-color: #D6E7F4;
  }

  .nav {
    margin-top: 0;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 3fr 50px;
  }

  .simulator {
    display: none;
  }

  .menuBars {
    grid-area: nav;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    grid-area: logo;
    margin-left: 10%;
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .logoMenu {
    width: 100%;
    max-width: 50vw;
    height: 100%;
  }

  .contentMenuMobile {
    display: block;
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.8;
  }

  .iconClose {
    width: 5%;
    margin-right: 20px;
    cursor: pointer;
  }

  .contentClose {
    display: flex;
    justify-content: end;
    margin-top: 5%;
  }

  .mainMobile {
    z-index: 99999999;
    position: relative;
    width: 100vw;
  }

  .navigationMobile {
    list-style: none;
    margin-top: 20%;
  }

  .navigationMobile li {
    font-style: none;
    margin-bottom: 10%;
    font-style: none;
  }

  .navigationMobile a {
    font-size: 7vw;
    color: #FFFF;
    font-style: none;
    text-decoration: none;
  }

  .menuMobileSimulator {
    display: flex;
    justify-content: center;
  }

  .menuMobile {
    display: block;
    position: absolute;
    position: fixed;
    z-index: 2;
  }

  .contentListMobile {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .iconMobile {
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    z-index: 99999;
    background-color: #D6E7F4;
  }

  .social {
    display: none;
  }
}