.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-top: 4vw;
}

.title {
  margin-top: 3vw;
}

.description {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.notContent {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.articles h2 {
  color: #9E9E9E;
  margin-bottom: 1vw;
}

.imgBg {
  background-size: auto;
  height: 350px;
  background-position: center;
  background-size: cover;
  margin-bottom: 3vw;
  background-repeat: no-repeat;
}

.imgSmallArticle {
  background-size: auto;
  height: 15vw;
  width: 15vw;
  background-position: center;
  background-size: cover;
}

.rowArticles {
  display: flex;
  flex-direction: row;
}

.article {
  width: 100%;
  max-width: 15vw;
  margin-right: 10px;
  cursor: pointer;
}

.articleTitle {
  margin-top: 1vw;
  font-weight: 700;
}