.rowRequirements {
  padding-top: 10vw;
}

.rowTitle {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.stepSize {
  width: 20vw;
  cursor: pointer;
}

.rowRequirements {
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #D6E6F4;
  border-radius: 50%;
}

.stepsCircle {
  display: flex;
  justify-content: center;
}

.contentCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.contentDot {
  display: flex;
  align-self: center;
  margin-top: -250px;
  position: absolute;
}

.lineTitle {
  margin-top: 1.5vw;
  font-weight: 500;
}

.lineSubTitle {
  font-size: 0.8vw;
}

.itemDescriptions li {
  margin-top: 1vw;
  margin-bottom: 1.5vw;
}

.checks {
  display: flex;
  flex-direction: row;
}

.iconChek {
  margin-right: 0.5vw;
}

.itemLabels p {
  font-size: 1.2vw;
}

.bgColor {
  background-color: #4061AC;
  color: #FFF;
}

@media only screen and (max-width: 600px) {

  .rowRequirements {
    padding-top: 30vw;
  }

  .circle {
    width: 15vw;
    height: 15vw;
    background-color: #D6E6F4;
    border-radius: 50%;
  }

  .contentDot {
    display: flex;
    align-self: center;
    margin-top: -135px;
    position: absolute;
  }

  .contentCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
  }

  .subtitle {
    display: none;
  }

  .lineTitle {
    display: none;
  }

  .itemLabels p {
    font-size: 4vw;
  }

  .bgColor {
    background-color: #4061AC;
    color: #FFF;
  }
}