.copyright {
  margin-top: 5%;
  margin-bottom: 2%;
}

.mainCopyright {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.mainCopyright {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copyright {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .mainCopyright {
    text-align: center;
    margin-bottom: 50px;

  }

  .mainCopyright p {
    font-size: 3.5vw;
  }

  .mainCopyright {
    font-weight: 700;
  }
}