.row {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.contacts {
  margin-top: 10vw;
  margin-bottom: 8vw;
}

.row .title {
  color: #4061AC;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 25px;
}

.title span {
  color: #44A7AE;
  text-transform: uppercase;
  font-size: 30px;
}

.descriptionRequirements {
  padding-left: 10px;
  padding-right: 10px;
}

.descriptionRequirements ul {
  margin: 0;
  padding: 0;
}

.rowGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 10px;
}

.logoBacnk {
  width: 170px;
  height: 170px;
}

.rowRight {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ECEFF1;
  background-color: #ECEFF1;
}

.input[type=text]:focus {
  border: 1px solid #BDBDBD;
}

.rowForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formReason {
  display: flex;
  flex-direction: column;
}

.contentContacts {
  display: flex;
  flex-direction: row;
}

.rowBtnContacts {
  width: 100%;
  display: flex;
  justify-content: end;
}

.btnContacts {
  width: 100%;
}

.form {
  width: 100%;
}


.columnDescription {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #44A7AE
}

.info h1 {
  text-align: center;
}

.info p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .requirements {
    display: none;
  }

  .products {
    display: none;
  }

  .main {
    margin-bottom: 0;
  }

  .columnDescription {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .requirements {
    display: none;
  }
}